<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cfix</key>
	<string></string>
	<key>DCR_Vs</key>
	<string>3.996</string>
	<key>PCB_id</key>
	<string></string>
	<key>Rfix</key>
	<string></string>
	<key>dut_type</key>
	<string>--</string>
	<key>fix_ABC_DEF_Res</key>
	<string>110.706,134.854,88.935</string>
	<key>fix_B2_E2_Res</key>
	<string>100.766,135.089,83.170</string>
	<key>fix_B4_E4_Res</key>
	<string>105.793,125.769,89.587</string>
	<key>fix_B_E_Res</key>
	<string>108.113,132.892,82.324</string>
	<key>fix_Cap</key>
	<string>29.743,29.749,29.735</string>
	<key>fixtureID</key>
	<string>--</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>fixture_uart_baud</key>
	<integer>19200</integer>
	<key>fixture_uart_dataBit</key>
	<string>8</string>
	<key>fixture_uart_parity</key>
	<string>none</string>
	<key>fixture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW-FIX</string>
	<key>fixture_uart_stopBit</key>
	<string>1</string>
	<key>humiture_uart_baud</key>
	<string>4800</string>
	<key>humiture_uart_dataBit</key>
	<string>8</string>
	<key>humiture_uart_parity</key>
	<string>none</string>
	<key>humiture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW-HUMIT</string>
	<key>humiture_uart_stopBit</key>
	<string>1</string>
	<key>isDebug</key>
	<false/>
	<key>isWaveNeed</key>
	<true/>
	<key>lineNO</key>
	<string>--</string>
	<key>multimeter</key>
	<string>34410A</string>
	<key>nullTest</key>
	<false/>
	<key>s_build</key>
	<string>--</string>
	<key>scheme_1</key>
	<true/>
	<key>station</key>
	<string>--</string>
	<key>stationID</key>
	<string>--</string>
	<key>sw_name</key>
	<string>Sodium_BC_IQC_Station</string>
	<key>sw_ver</key>
	<string></string>
	<key>sw_ver_T1</key>
	<string>VL1.0.6</string>
	<key>sw_ver_T2</key>
	<string>VQ2.0.13</string>
	<key>test_type</key>
	<string>1</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>ui_title</key>
	<string>--</string>
	<key>ui_versiom</key>
	<string>--</string>
	<key>waveFrequence</key>
	<string>--</string>
	<key>waveOffset</key>
	<string>0</string>
	<key>waveVolt</key>
	<string>8</string>
</dict>
</plist>
